@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Actor&family=Montserrat:ital,wght@0,400;1,100&display=swap");

@media screen and (max-width: 1710px) {
  * {
    font-size: 13px;
  }
}

body {
  font-family: "Actor", sans-serif;
}

* {
  font-family: "Actor", sans-serif;
}

.medium-height {
  height: 4rem;
}

.bg-dark-gray {
  background: #242531 !important;
}

.bg-darker-gray {
  background: #1f1f26;
}

.bg-light-white {
  background: #ede8f5;
}

.bg-light {
  background: #f4f4f7;
}

.bg-purple {
  background: #6149ef;
}

.text-milky {
  color: #d6d6d6;
}

.text-dark-gray {
  color: #242531;
}

.text-gray {
  color: #9798ad;
}

.text-purple {
  color: #6149ef;
}

.borderb-gray {
  border-bottom: 1px solid #9798ad20;
}

.round {
  border-radius: 10px;
}

@layer base {
  body {
    @apply dark:bg-[#141520] bg-[#ede8f5];
  }
}

.custom-btn {
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.btn-15 {
  background: #6149ef;
  border: none;
  z-index: 1;
  border-radius: 0.375rem;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #b621fe;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

.sidebar-menu-title {
  letter-spacing: 2px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #6149ef;
  }
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.8em -0.5em #6149ef;
  transform: translateY(-0.25em);
}

.raise {
  --hover: #6149ef;
}

.raise {
  color: var(--color);
  transition: 0.25s;
}
.raise:hover,
.raise:focus {
  border-color: #6149ef;
}
