.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.third {
  border-color: var(--light-blue);
  color: #fff;
  box-shadow: 0 0 40px 40px var(--light-blue) inset, 0 0 0 0 var(--light-blue);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 var(--light-blue) inset,
      0 0 10px 4px var(--light-blue);
  }
}
